# Emacs code lookup file.
TAGS

# Development environment.
venv

# Python builds and packaging.
*.egg-info
__pycache__
dist

# Python test coverage analysis and report.
.coverage
htmlcov

# setuptools will download into this directory to build and test.
.eggs

*,cover
.pytest_cache

# Development database
db.sqlite3
